:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  flex: auto;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #63b4ff;
  background-image: url("../img/otras/fondo.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #bed8ff;
  text-decoration: inherit;
}
a:hover {
  color: #64a2ff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url(../img/fondo.jpeg)
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  position:middle;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #607dff;
  outline: auto;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #4a53ff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #77c2ff;
    background-color: #ffffff;
  }
  a:hover {
    color: #000000;
  }
  button {
    background-color: #7b93ff;
  }
}
